@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--Cream);
  overflow-x: hidden;
}
html {
  font-size: 14px;
}
#container {
  display: flex;
  width: 580px;
  margin: 136px auto;
  /* border: 1px solid red; */
  gap: 18px;
  background-color: var(--White);
  border-radius: 12px;
}
#img-container {
  /* border: 1px solid blue; */
  width: 150%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
}
#details {
  padding: 18px 12px;
}
.text {
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-grayish-blue);
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.heading {
  font-family: "Fraunces", sans-serif;
  color: var(--Very-dark-blue);
  font-size: 2.7rem;
  margin-top: -1px;
  line-height: 40px;
  font-weight: 700;
}
.description {
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-grayish-blue);
  font-weight: 500;
  line-height: 22px;
  width: 90%;
  margin-top: -10px;
}
.price-tag {
  display: flex;
  /* border: 1px solid yellow; */
  gap: 6px;
  margin-bottom: -37px;
}
.price {
  font-family: "Fraunces", sans-serif;
  color: var(--Dark-cyan);
  font-weight: 700;
  font-size: 2rem;
  /* border: 1px solid red; */
  margin-bottom: -12px;
}
.strike {
  /* border: 1px solid black; */
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-grayish-blue);
  margin-bottom: 100px;
  position: relative;
  top: 30px;
  left: 12px;
}

.cart-btn {
  background-color: var(--Dark-cyan);
  color: var(--White);
  border: none;
  padding: 12px;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
@media (max-width: 1160px) and (min-width: 275px) {
  #container {
    display: block;
    width: 400px;
    height: auto;
  }
  #img-container {
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
  }
  .img {
    content: url("./images/image-product-mobile.jpg");
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }
  #details {
    height: 50%;
    /* border: 1px solid red; */
    padding: 34px;
  }
  .text {
    font-size: 18px;
  }
  .heading {
    font-size: 4rem;
    line-height: 55px;
    margin-top: 20px;
  }
  .description {
    font-size: 23px;
    line-height: 35px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .price {
    font-size: 3.3rem;
    margin-top: 0px;
  }
  .strike {
    font-size: 1.5rem;
    top: 15px;
  }
  .cart-btn {
    margin: auto;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .cart_img {
    width: 6%;
  }
}
